<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="js">
    <script th:src="@{/js/vendor/jquery-library.js}"></script>
    <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
    <script th:src="@{/https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.vide.min.js}"></script>
    <script th:src="@{/js/countdown.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/parallax.js}"></script>
    <script th:src="@{/js/countTo.js}"></script>
    <script th:src="@{/js/appear.js}"></script>
    <script th:src="@{/js/gmap3.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/number.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</th:block>
</body>
</html>
