<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="head_admin">
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/assets/favicon/apple-icon-57x57.png}">
        <link rel="apple-touch-icon" sizes="60x60" th:href="@{/assets/favicon/apple-icon-60x60.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/assets/favicon/apple-icon-72x72.png}">
        <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/favicon/apple-icon-76x76.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/assets/favicon/apple-icon-114x114.png}">
        <link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/favicon/apple-icon-120x120.png}">
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/assets/favicon/apple-icon-144x144.png}">
        <link rel="apple-touch-icon" sizes="152x152" th:href="@{/assets/favicon/apple-icon-152x152.png}">
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/favicon/apple-icon-180x180.png}">
        <link rel="icon" type="image/png" sizes="192x192" th:href="@{/assets/favicon/android-icon-192x192.png}">
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/favicon/favicon-32x32.png}">
        <link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/favicon/favicon-96x96.png}">
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/favicon/favicon-16x16.png}">
        <link rel="manifest" th:href="@{/assets/favicon/manifest.json}">
        <!-- Vendors styles-->
        <link rel="stylesheet" th:href="@{/vendors/simplebar/css/simplebar.css}">
        <!-- Main styles for this application-->
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <!-- We use those styles to show code examples, you should remove them in your application.-->
        <link th:href="@{/css/examples.css}" rel="stylesheet">
        <script th:href="@{/js/config.js}"></script>
        <script th:href="@{/js/color-modes.js}"></script>
    </th:block>
</head>
<body>

</body>
</html>