<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="js_admin">
    <script th:src="@{vendors/@coreui/coreui-pro/js/coreui.bundle.min.js}"></script>
    <script th:src="@{vendors/simplebar/js/simplebar.min.js}"></script>
    <script th:src="@{vendors/i18next/js/i18next.min.js}"></script>
    <script th:src="@{vendors/i18next-http-backend/js/i18nextHttpBackend.js}"></script>
    <script th:src="@{vendors/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.js}"></script>
    <script th:src="@{js/i18next.js}"></script>
</th:block>
</body>
</html>