<!doctype html>
<html class="no-js" lang=""
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Library</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <th:block th:replace="layout_customer/head :: head"></th:block>
</head>
<body>

<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
            Header Start
    *************************************-->
    <div th:include="layout_customer/navbar:: navbar"></div>
    <!--************************************
            Header End
    *************************************-->
    <!--************************************
            Inner Banner Start
    *************************************-->
    <div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" th:attr="data-image-src=@{/images/parallax/bgparallax-07.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-innerbannercontent">
                        <h1>Lịch sử mua hàng</h1>
                        <ol class="tg-breadcrumb">
                            <li><a href="javascript:void(0);">Trang chủ</a></li>
                            <li class="tg-active">Lịch sử mua hàng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Inner Banner End
    *************************************-->
    <!--************************************
            Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
        <!--************************************
                News Grid Start
        *************************************-->
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <section id="cart_items">
                        <div class="container">
                            <div class="table-responsive cart_info">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr class="cart_menu">
                                        <td class="Receiver Name" style="text-align: center">Tên người nhận</td>
                                        <td class=" Phone" style="text-align: center">Số điện thoại người nhận</td>
                                        <td class="Address" style="text-align: center">Địa chỉ</td>
                                        <td class="quantity" style="text-align: center">Ngày</td>
                                        <td class="quantity" style="text-align: center">Trạng thái</td>
                                        <td class="total" style="text-align: center">Total</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${orderlist}">
                                        <td class="" style="text-align: center">
                                            <p th:text="${order.receiverName}"></p>
                                        </td>
                                        <td class="" style="text-align: center">
                                            <p th:text="'0' + ${order.receiverPhone}"></p>
                                        </td>
                                        <td class="" style="text-align: center">
                                            <p th:text="${order.receiverAddress}"></p>
                                        </td>
                                        <td class="" style="text-align: center">
                                            <p th:text="${#calendars.format(order.createdAt, 'dd/MM/yyyy')}"></p>
                                        </td>
                                        <td class="" style="text-align: center">
                                            <div th:switch="${order.status}">
                                                <p th:case="'0'">Đang xử lý</p>
                                                <p th:case="'1'">Đang vận chuyển</p>
                                                <p th:case="'2'">Đã hoàn thành</p>
                                                <p th:case="'3'">Đã bị hủy</p>
                                            </div>
                                        </td>
                                        <td style="text-align: center">
                                            <p class="price" th:text="${order.getPrice()} + ' VND'"
                                               th:attr="data-price=${order.getPrice()}"></p>
                                        </td>
                                        <td class="order-detail" style="text-align: center">
                                            <a class="cart_quantity_delete" th:href="@{'/myorder/'+${order.id}}">
                                                <button class="btn btn-warning">Chi tiết</button>
                                            </a>
                                            <a class="cart_quantity_delete" th:if="${order.status==0}"
                                               onclick="return confirm('Bạn chắc muốn hủy đơn hàng chứ?')"
                                               th:href="@{'/myorder/cancel/'+${order.id}}">
                                                <button class="btn btn-danger">Hủy</button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section> <!--/#cart_items-->
                </div>
            </div>
        </div>
        <!--************************************
                News Grid End
        *************************************-->
    </main>
    <!--************************************
            Main End
    *************************************-->
    <!--************************************
            Footer Start
    *************************************-->
    <th:block th:replace="layout_customer/footer :: footer_customer"></th:block>
    <!--************************************
            Footer End
    *************************************-->
</div>
<!--************************************
        Wrapper End
*************************************-->
<th:block th:replace="layout_customer/js :: js"></th:block>
</body>

</html>